*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 62.5%;
    overflow-x: hidden;
  
}
li{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #ea0000;
    ;
    align-items: center;
   padding-left: 20px;
   padding-right:30px;
}

.logo img{
    width: 12rem;
}
.nav ul{
display: flex;
}
.nav ul li{
    margin-right: 2rem;
    cursor: pointer;
    color:white;
    cursor: pointer;
    font-size: 1.5rem;
}
.img-sec{
    display: flex;
    
}
.img-1 img{
    width: 100%;
    height: auto;
}
.des-1 h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.5rem;
    border: 1px solid black;
     background-color: orange;
}
.des-1 p{
    font-size: 1.5rem;
}
.des-2 h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 2rem;
    border: 1px solid black;
    background-color: orange;
}
.des-3 h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 2rem;
    border: 1px solid black;
    background-color: orange;
}
@media screen and (max-width:768px){
    .img-sec{
        flex-direction: column;
    }
}

